body {
    background:azure;
  }
  
  div{
    background:white;
    height:50px;
    width:98%;
    border:1px solid black;
    text-align: center;
        vertical-align: middle;
    
  }
  
  div img{
    margin:2px;
    height:45px;
    width:48px;
  }
  #first{
    background:orange;
    border-bottom:0px;
  }
  
  .last {
    border-top:0px;
    background:green;
    
  }
  